*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}
*::selection{
    background-color: var(--theme-third-color);
    color: var(--theme-base-color);
}


html[theme=light]{

--theme-base-color:white;
--theme-second-color:black;
--theme-third-color:#e5ba03;
--theme-forth-color:rgb(221, 201, 201);
--theme-classes-color:#938787;
--theme-bg-image-color:rgba(255, 255, 255, 0.9);
--theme-p-color:rgb(202, 182, 182);
}

.hero-section{
    background-image: url(./../images/bg-page2.webp);
    background-position: center,center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 630px;
    margin-bottom: 100px;
}
.about-us{
    background-color: rgba(0, 0, 0, .80);
    height: 630px;
    position: relative;
    color: white;
    
}

.about-us h1{
font-size: 100px;
position: absolute;
top: 40%;
left: 10%;
}
span{
    color: var(--theme-third-color);

}
.about-us p{
    position: absolute;
top: 60%;
left: 11%;
line-height: 30px;
color: var(--theme-classes-color);
}


.products{
    text-align: center;
}
.products h2{
    font-size: 38px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.products p{
 font-size: 16px;
 text-align: center;
 line-height: 25px;
}
.tools{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}
.first-tool{
    box-shadow: 10px 10px 20px var(--theme-classes-color);
}
.data-first-tool{
    background-color: var(--theme-forth-color);
    height: 80px;
    text-align: center;
   padding-top: 20px;
   
}
.data-first-tool h3{
    font-size: 22px;
    padding-bottom: 10px;
}
.data-first-tool p{
    color: var(--theme-base-color);
    font-size: 18px;
}
.view-all{
    margin: 50px 0;
    text-align: center;
}
.view-all button{
    padding: 18px 40px;
    background-color: var(--theme-base-color);
    border:1px solid var(--theme-third-color);
    border-radius: 28px;
font-size: 15px;
color: var(--theme-second-color);
text-transform: uppercase;

}
.view-all button:hover{
    background-color: var(--theme-third-color);
    color: var(--theme-base-color);
    transition: all .2s ease-in-out;
}











