*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}
*::selection{
    background-color: var(--theme-third-color);
    color: var(--theme-base-color);
}


html[theme=light]{

--theme-base-color:white;
--theme-second-color:black;
--theme-third-color:#e5ba03;
--theme-forth-color:rgb(212, 192, 192);
--theme-classes-color:#faeded;
--theme-bg-image-color:rgba(255, 255, 255, 0.9);
--theme-p-color:rgb(202, 182, 182);
}

.hero-section{
    background-image: url(./../images/bg-page2.webp);
    background-position: center,center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 630px;
    margin-bottom: 100px;
}
.about-us{
    background-color: rgba(0, 0, 0, .80);
    height: 630px;
    position: relative;
    color: white;
    
}

.about-us h1{
font-size: 100px;
position: absolute;
top: 40%;
left: 10%;
}
span{
    color: var(--theme-third-color);

}
.about-us p{
    position: absolute;
top: 60%;
left: 11%;
line-height: 30px;
color: var(--theme-classes-color);
}
.data-first-card{
    background-color: var(--theme-classes-color);
    height: 100px;
}
.first-card{
    width: 18%;
    position: relative;
    
}
.first-card img{
   width: 100%;
}
.data-first-card{
    position: absolute;
    width: 100%;
    top: 80%;
    text-align: center;
    height: 120px;
    overflow: hidden;
}
.cards{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 100px;
}
.data-first-card h2{
padding: 10px 0;
}
.data-first-card h3{
    font-size: 16px;
    color: var(--theme-p-color);
}
.data-first-card ul{
    list-style: none;
    display: flex;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-25%);
    top: 10%;
    gap: 18px;
    
}
.data-first-card p{
    padding-top:20px ;
}
.data-first-card h2:hover{
    color: var(--theme-third-color);
    transition: all .2s ease-in-out;
}
.data-first-card i:hover{
    background-color: var(--theme-third-color);
    color: var(--theme-base-color);
      transition: all .2s ease-in-out;
      transform: scale(1.2);
}
.data-first-card i {
 border-radius: 8px; 
 border: 1px solid var(--theme-p-color);
 padding: 3px;
 padding-right: 18px;
 background-color: var(--theme-p-color);
}
.first-card:hover .data-first-card{
   transform: translateY(-50px);
   height: 170px;
   transition: all .2s ease-in-out;
   
}
.data-first-card p{
    position: relative;
    top: 20px;
    font-size: 22px;
    color: var(--theme-third-color);
   

}

.calculater{
    display: flex;
  justify-content: space-evenly;
  align-items: center;
    position: relative;
    margin-bottom: 50px;
}



.content-calculater img{
    width: 550px;
    height: 550px;
}
.content-calculater h3{
    color: var(--theme-third-color);
    font-size: 22px;
    padding-bottom: 15px;
}
.content-calculater h2{
    font-size: 48px;
    padding-bottom: 40px;
}
.content-calculater p{
    font-size: 18px;
   
}
.content-calculater h4{
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 10px ;
}
.p-color{
    color: var(--theme-p-color);
}
.data-image{
    background-color: rgba(0, 0, 0, .80);
    width: 550px;
    height: 550px;
    position: absolute;
    top: 0;
    
}
.data-image h2{
    font-size: 28px;
    text-align: center;
    color: var(--theme-base-color);
    padding-top: 50px;
}
.data-image p{
    color: var(--theme-base-color);
 font-size: 16px;
 text-align: center;
 line-height: 25px;
}
form{
    padding-top: 30px; 
    padding-left: 20px;
}
form input{
    border-top:0 ;
border-left: 0;
border-right: 0;
border-bottom: 2px solid var(--theme-p-color);
background-color: rgba(0, 0, 0, .10);
margin-top: 40px;
margin-bottom: 30px;
margin-left: 20px;
width: 150px;
padding-bottom: 5px;
}
select{
       border-top:0 ;
border-left: 0;
border-right: 0;
border-bottom: 2px solid var(--theme-p-color);
background-color: rgba(0, 0, 0, .10);
margin-top: 50px;
margin-left: 20px;
width: 230px;
color: var(--theme-classes-color);
padding-bottom: 5px;
font-size: 16px;
}
form button{
    padding: 18px 30px;
    background-color: var(--theme-third-color);
    border:1px solid var(--theme-second-color);
    border-radius: 28px;
font-size: 15px;
color: var(--theme-base-color);
text-transform: uppercase;
top: 45%;
margin-top: 50px;
margin-left: 15px;
}








